.Header-background {
  padding: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Header-Benefit {
  width: 32%;
  display: inline-block;
  margin-right: 1%;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
}

.Header-Benefit-content {
  flex-basis: 55%;
  max-width: 55%;
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;

}

.Header-Benefit div:not(.Header-Benefit-content) {
  padding: 0 !important;
}
.Header-Benefit-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  max-width: 30%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem
}

.Header-Benefit-image img {
  max-width: 100%;
}

.Header-illustration {
  position: absolute;
  z-index: -1;
  top: 80px;
  height: 300px;
  right: 200px;
}

.Header-main {
  margin: 2em;
  margin-left: -200px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.textField {
  display: block !important;
  width: 100% !important;
}

.Login-actions {
  margin-top: 1em;
  text-align: right;
}

.Login-background {
  height:  100vh;
  background-size: cover;
  background-position: center;

}

.fade-scale-enter {
  opacity: 0;
  transform: scale(0);
}
.fade-scale-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.fade-scale-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-scale-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: all 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
}